.timer {
    display: flex;
    padding: 24px;
    gap: 10px;

    position: absolute;
    left: 920px;
    top: 70px;

    background: #EDEDED;
    border-radius: 12px;
    width: 91px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;
    color: #373745;
    order: 0;
    flex-grow: 0;
}
