.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    padding-top: 24px;
    gap: 20px;
    height: 400px;
    position: absolute;
    left: 40%;
    top: 25%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.login .logo {
    width: 132px;
    height: 132px;
}

.login .title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.login .title-block {
    display: flex;
    align-items: center;
    text-align: center;

}

.login .fields {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    margin-top: 12px;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    /* Gray / White */

    background: #FFFFFF;
    /* Gray / 100 */

    border: 1px solid #DCDCDF;
    border-radius: 12px;
    
}

.login .login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    margin-top: 20px;
    width: 352px;
    height: 48px;

    background: rgba(96, 194, 170, 0.3);
    border-width: 0px;
    border-radius: 12px;
}
