header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    height: 20px;
    gap: 10px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

body {
    margin: 0;
    background: #E5E5E5;
}



header #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

#nav-bar * {
    line-height: 24px;
}

#nav-bar .active {
    background-color: #60C2AA;
    background: #60C2AA;
    border-radius: 200px;
    color: #FFFFFF;
    padding: 4px 12px;
}


* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.players {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
    left: 40px;
    top: 124px
    

}

.players .player {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #373745;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.players .players-title .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.playing-field {
    justify-content: space-between;
    display: grid;
    gap: 20px;
    width: 600px;
    height: 600px;
    
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 220px 220px 220px;
    flex-direction: row;
    padding: 0px;
    gap: 4px;
    position: absolute;
    left: 650px;
    top: 180px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09))
}

.playing-field .field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 200px;
    height: 200px;

    background: #FFFFFF;
    border-radius: 12px;
    
}

.timer {
    display: flex;
    padding: 24px;
    gap: 10px;

    position: absolute;
    left: 920px;
    top: 70px;

    background: #EDEDED;
    border-radius: 12px;
    width: 91px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.25px;
    color: #373745;
    order: 0;
    flex-grow: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 390px;
    height: 390px;
    left: 1400px;
    bottom: 165px;
    
}

.chat .message-box-1 {

    padding: 12px;
    gap: 8px;

    width: 352px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 16px 0px;
    
}

.chat .message-box-1 .message-time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    padding-left: 40%;
    letter-spacing: 0.25px;
    color: #898993;
    }

.chat .message-box-1 .title {
    width: 149px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #60C2AA;
}

.chat .message-box-1 .message {
    position: absolute;
    padding-top: 8px;
    padding-bottom: 10px;
    width: 328px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #373745;
    
}

.chat .message-box-2 {

    padding: 12px;
    gap: 8px;

    width: 352px;
    height: 86px;
    margin-left: 72px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 0px 16px;
    
}

.chat .message-box-2 .message-time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    padding-left: 50%;
    letter-spacing: 0.25px;
    color: #898993;
    }

.chat .message-box-2 .title {
    width: 149px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #E38BAC;
}

.chat .message-box-2 .message {
    position: absolute;
    padding-top: 8px;
    width: 328px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #373745;
    
}

.chat .message-send {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    top: 105%;
    gap: 8px;
    width: 352px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    order: 0;
    flex-grow: 0;
}

.chat .message-send .send {
    display: flex;
    position: absolute;
    margin-left: 340px;
    flex-direction: row;
    padding: 12px;
    gap: 8px;
    left: 0p;
    top: 0px;
    width: 25px;
    height: 25px;

    background: #60C2AA;
    border-radius: 12px;
}
.chat * {
    line-height: 24px;
}

.mode {
    display: flex;
    width: 400px;
    height: 48px;
    left: 760px;
    align-items: center;
    position: absolute;
    flex-direction: row;
    top: 870px;
    flex-direction: row;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
}

.mode .mode-img {
    margin-top: 8px;
}

.mode .mode-player {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 300px;
    line-height: 24px;
    padding-right: 69px;
    margin-left: 5px;
    gap: 10px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.mode .mode-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 69px;
    margin-right: 5px;
    gap: 10px;
    letter-spacing: 0.15px;
    color: #FFFFFF;

}