.stats-players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    height: auto;
    position: relative;
    width: 1000px;
    left: calc(50% - 1026px/2);
    top: 70px;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.stats-players .title {
    width: 189px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;

}

.name {
    width: 440px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;
    color: #373745;
}

.field {
    width: 125px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: start;
    text-align: start;
    
    letter-spacing: 0.24px;
    color: #373745;
}

.stats-players .table-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 16px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.field .wins {
    color: #69B849;
}

.field .loose {
    color: #E93E3E;
}