.switch {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 10px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 0px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;

    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2);
}
input:checked + .slider {
    background-color: #4ac4f5;
}
input:checked + .slider:before {
    transform: translateX(26px);
}


.active-players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    height: auto;
    position: relative;
    width: 600px;
    left: 30%;
    top: 70px;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.active-players .status-free {
    
    padding: 4px 12px;
    width:  80px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #A8D37F;
    border-radius: 6px;
}

.active-players .status-busy {
    
    padding: 4px 12px;
    width:  80px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #87CAE8;
    border-radius: 6px;
}

.active-players .invite-true {
    padding: 12px 20px;    
    background: #60C2AA;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.active-players .invite-true:hover {
    padding: 12px 20px;    
    background: #F7F7F7;
    opacity: 0.3;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.active-players .invite-false {
    padding: 12px 20px;    
    background: #F7F7F7;
    opacity: 0.3;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}


.active-players .title {
    width: 300px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;

}

.name {
    width: 300px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    letter-spacing: 0.24px;
    color: #373745;
}

.field {
    width: 125px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: start;
    text-align: start;
    
    letter-spacing: 0.24px;
    color: #373745;
}

.active-players .table-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 0px;
    gap: 16px;
    height: 48px;
    background: #FFFFFF;
    
}
