.nofication {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99999;
    transform: scale(0);
    
    display: flex;
    max-height: 10px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.nofactive {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1);
    position: fixed;
    min-width: 500px;
    min-height: 50px;
    top: -100px;
    left: 45%;
    transform: translateX(-25%);
    background-color: white;
    animation-name: slide-in;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

@keyframes slide-in {
    10% {
        top: 0%;
    }
    90% {
        top: 0%
    }
  }

.text {
    width: 295px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #373745;

}

.image {
    width: 132px;
    height: 165.36px;
    padding: 25%;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

.new-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: #60C2AA;
    border-radius: 12px;
}

.exit-to-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 12px;
}

.nofication-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.nofication-content .button-yes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: #60C2AA;
    border-radius: 12px;
}

.nofication-content .button-yes:hover {
    padding: 12px 20px;    
    background: #F7F7F7;
    opacity: 0.3;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.nofication-content .button-no:hover {
    padding: 12px 20px;    
    background: #F7F7F7;
    opacity: 0.3;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.nofication-content .button-no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: red;
    border-radius: 12px;
}