.playing-field {
    justify-content: space-between;
    display: grid;
    gap: 20px;
    width: 600px;
    height: 600px;
    
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 220px 220px 220px;
    flex-direction: row;
    padding: 0px;
    gap: 4px;
    position: absolute;
    left: 650px;
    top: 180px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09))
}

.playing-field .field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 200px;
    height: 200px;

    background: #FFFFFF;
    border-radius: 12px;
    
}

.mode {
    display: flex;
    width: 450px;
    height: 48px;
    left: 760px;
    align-items: center;
    position: absolute;
    flex-direction: row;
    top: 870px;
    flex-direction: row;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
}

.mode .mode-img {
    margin-top: 8px;
}

.mode .mode-player {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    min-width: 450px;
    line-height: 24px;
    padding-right: 69px;
    margin-left: 5px;
    gap: 10px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.mode .mode-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 69px;
    margin-right: 5px;
    gap: 10px;
    letter-spacing: 0.15px;
    color: #FFFFFF;

}
