.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 99999;
    transform: scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 30%;
}


.modal.active {
    transform: scale(1);
    width: 400px;
    position: absolute;
    padding: 40px 24px;
    gap: 20px;
    height: 429.36px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.winner {
    width: 350px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #373745;

}

.image {
    width: 132px;
    height: 165.36px;
    padding: 25%;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

.new-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: #60C2AA;
    border-radius: 12px;
}

.exit-to-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 12px;
}

.active.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}