header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    height: 20px;
    gap: 10px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background: #E5E5E5;
}

.singout {
    background-color: #60C2AA;
    background: #60C2AA;
    border-radius: 200px;
    color: #FFFFFF;
    padding: 4px 12px;
}

header #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

#nav-bar * {
    line-height: 24px;
}

#nav-bar .active {
    background-color: #60C2AA;
    background: #60C2AA;
    border-radius: 200px;
    color: #FFFFFF;
    padding: 4px 12px;
}


* {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
